{% extends "base.html" %}
{% block title %}Archive - {{ SITENAME }}{% endblock %}
{% block metadescription %}
<meta name="description"
  content="An archive of articles visualizing various Machine Learning concepts with diagrams and intuitions.">
<meta name="author" content="{{ SITE_AUTHOR }}">
{% endblock %}
{% block content %}
<h1 class="title">
  Archive
</h1>

<div class="menu">
  {% for article in dates %}
  <p class="menu-label">{{ article.locale_date }}</p>
  <ul class="menu-list">
    <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
  </ul>
  {% endfor %}
</div>
{% endblock %}