{% if article_list %}
  <div class="is-hidden-print">
    <h2 class="subtitle">Other articles</h2>
    <div class="columns is-multiline">
      {% for article in article_list %}
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="card is-fullwidth is-fullheight">
            <div class="card-content">
              <a href="{{ SITEURL }}/{{ article.url }}">
                <h3 class="title is-5">{{ article.title }}</h3>
                <div class="heading subtitle">{{ article.locale_date }}</div>
                <div><p>{{ article.summary | striptags | truncate(120, end='...<br />') }}</p></div>
              </a>
              {% include 'comments.html' %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% include 'pagination.html' %}
  </div>
{% endif %}
