<footer class="post-info">
  <abbr class="published" title="{{ article.date.isoformat() }}">
    Published <span class="is-info">{{ article.locale_date }}</span>
    in {{ article.category }}
  </abbr>

  {% if article.authors and False %}
    <p class="author">
      <em>by {% for author in article.authors %}
        {% if author.url %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% else %}
          {{ author }}
        {% endif %}
      {% endfor %}</em>
      {% include 'taglist.html' %}
    </p>
  {% endif %}
</footer>
