<div id="mc_embed_signup">
  <form
      action="https://{{ MAILCHIMP.domain }}/subscribe/post?u={{ MAILCHIMP.user_id }}&amp;id={{ MAILCHIMP.list_id }}"
      method="post" id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate>

    <h2 class="menu-label">Mailing List</h2>

    <div id="mc_embed_signup_scroll">
      <div class="field mc-field-group">
        <label for="mce-EMAIL" class="label is-small">Email</label>
        <div class="field-body">
          <div class="field">
            <p class="control has-icons-left">
              <input type="email" name="EMAIL" class="input required email is-small"
                     id="mce-EMAIL" placeholder="Email address">
              <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="mce-FNAME" class="label is-small">Name</label>
        <div class="field-body">
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input is-small" type="text" value="" name="FNAME"
                     id="mce-FNAME" placeholder="First">
            </p>
            <p class="control is-expanded">
              <input class="input is-small" type="text" value="" name="LNAME"
                     id="mce-LNAME" placeholder="Last">
            </p>
          </div>
        </div>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <input type="submit" name="subscribe" value="Subscribe"
                 class="button is-small is-success" id="mc-embedded-subscribe">
        </p>
        {% if MAILCHIMP.rewards_url %}
          <p class="control">
            <span class="help">
              Powered by
              <a href="{{ MAILCHIMP.rewards_url }}"
                 title="MailChimp - email marketing made easy and fun">
                MailChimp
              </a>
            </span>
          </p>
        {% endif %}
      </div>

      <div id="mce-responses" class="clear">
        <div class="response help is-danger" id="mce-error-response"
             style="display:none"></div>
        <div class="response help is-success" id="mce-success-response"
             style="display:none"></div>
      </div>

      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_{{ MAILCHIMP.user_id }}_{{ MAILCHIMP.list_id }}"
               tabindex="-1" value="">
      </div>
    </div>
  </form>
</div>

{% if MAILCHIMP.validation %}
  <script type='text/javascript'
          src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
  </script>
  <script type='text/javascript'>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
{% endif %}
