{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Archive{% endblock %}
{% block content %}
  <p class="subtitle">
    <span class="icon is-small"><i class="fa fa-calendar"></i></span>
    Archives for {{ period | reverse | join(' ') }}
  </p>

  <div class="menu">
    {% for article in dates %}
      <p class="menu-label">{{ article.locale_date }}</p>
      <ul class="menu-list">
        <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
      </ul>
    {% endfor %}
  </div>
{% endblock %}
