.highlight {
  background-color: #fdf6e3;
  color: #586e75;
}
.highlight .c {
  color: #93a1a1;
}
.highlight .err,
.highlight .g {
  color: #586e75;
}
.highlight .k {
  color: #859900;
}
.highlight .l,
.highlight .n {
  color: #586e75;
}
.highlight .o {
  color: #859900;
}
.highlight .x {
  color: #cb4b16;
}
.highlight .p {
  color: #586e75;
}
.highlight .cm {
  color: #93a1a1;
}
.highlight .cp {
  color: #859900;
}
.highlight .c1 {
  color: #93a1a1;
}
.highlight .cs {
  color: #859900;
}
.highlight .gd {
  color: #2aa198;
}
.highlight .ge {
  color: #586e75;
  font-style: italic;
}
.highlight .gr {
  color: #dc322f;
}
.highlight .gh {
  color: #cb4b16;
}
.highlight .gi {
  color: #859900;
}
.highlight .go,
.highlight .gp {
  color: #586e75;
}
.highlight .gs {
  color: #586e75;
  font-weight: bold;
}
.highlight .gu {
  color: #cb4b16;
}
.highlight .gt {
  color: #586e75;
}
.highlight .kc {
  color: #cb4b16;
}
.highlight .kd {
  color: #268bd2;
}
.highlight .kn,
.highlight .kp {
  color: #859900;
}
.highlight .kr {
  color: #268bd2;
}
.highlight .kt {
  color: #dc322f;
}
.highlight .ld {
  color: #586e75;
}
.highlight .m,
.highlight .s {
  color: #2aa198;
}
.highlight .na {
  color: #B58900;
}
.highlight .nb {
  color: #586e75;
}
.highlight .nc {
  color: #268bd2;
}
.highlight .no {
  color: #cb4b16;
}
.highlight .nd {
  color: #268bd2;
}
.highlight .ni,
.highlight .ne {
  color: #cb4b16;
}
.highlight .nf {
  color: #268bd2;
}
.highlight .nl,
.highlight .nn,
.highlight .nx,
.highlight .py {
  color: #586e75;
}
.highlight .nt,
.highlight .nv {
  color: #268bd2;
}
.highlight .ow {
  color: #859900;
}
.highlight .w {
  color: #586e75;
}
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #2aa198;
}
.highlight .sb {
  color: #93a1a1;
}
.highlight .sc {
  color: #2aa198;
}
.highlight .sd {
  color: #586e75;
}
.highlight .s2 {
  color: #2aa198;
}
.highlight .se {
  color: #cb4b16;
}
.highlight .sh {
  color: #586e75;
}
.highlight .si,
.highlight .sx {
  color: #2aa198;
}
.highlight .sr {
  color: #dc322f;
}
.highlight .s1,
.highlight .ss {
  color: #2aa198;
}
.highlight .bp,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #268bd2;
}
.highlight .il {
  color: #2aa198;
}
.is-success {
  background-color: #4caf50 !important;
  color: #fff;
}
.hero.is-success {
  background-color: #4caf50;
  color: #fff;
}
a.navbar-item.is-active,
.hero.is-success a.navbar-item:hover {
  background-color: #43A047 !important;
  color: #fff;
}
.article-title {
  color: #363636 !important;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
article .section p,
article .section ul,
article .section ol,
article .section li {
  margin-bottom: 0.5em;
}
article .section p:last-child,
article .section ul:last-child,
article .section ol:last-child,
article .section li:last-child {
  margin-bottom: 0;
}
article .section h1,
article .section h2,
article .section h3 {
  color: #363636;
  font-weight: 500;
  line-height: 1.125;
  margin: 1.5rem 0 1rem 0;
}
article .section h1 {
  font-size: 2rem;
}
article .section h2 {
  font-size: 1.25rem;
}
article .section h3 {
  font-size: 1.125rem;
}
article .section blockquote,
article .section .highlight {
  background-color: #f5f5f5;
  color: #4a4a4a;
  margin: 0.25em 0.25em 0.5em 0.25em !important;
  padding: 0.5em;
}
article .section ul:not(.pagination-list) {
  list-style-type: disc;
}
article .section li {
  margin-left: 2em;
}
article .section ol li {
  padding-left: 0.5em;
}
article .section img {
  padding: 1em;
}
article .section table {
  margin-bottom: 0.5em;
}
article .section table td,
article .section table th {
  border: 1px solid #f5f5f5;
  padding: 0.25em;
}
.link-text {
  margin-left: 5px;
}
.title.is-brand {
  font-weight: bold;
}
footer.footer {
  position: relative;
}
footer.footer .credits {
  align-items: center;
  display: flex;
  justify-content: center;
}
footer.footer .credits > * {
  display: inline-block;
  padding: 0 0.5rem;
}
footer.footer .credits > *:not(:last-child) {
  border-right: 1px solid #363636;
}
footer.footer .credits > *.badge {
  height: 1.5rem;
  padding-left: 0;
}
footer.footer .credits .icon.is-small {
  vertical-align: baseline;
}
footer.footer .github-fork-ribbon-wrapper {
  bottom: 0;
  height: 150px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 150px;
}
footer.footer .github-fork-ribbon-wrapper .github-fork-ribbon {
  background-color: #4caf50;
  padding: 1px 0;
  pointer-events: auto;
  position: absolute;
  right: -65px;
  top: 65px;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
footer.footer .github-fork-ribbon-wrapper .github-fork-ribbon a {
  border: 2px dotted #f5f5f5;
  color: #f5f5f5;
  display: inline-block;
  font-size: 0.9rem;
  text-decoration: none;
  padding-left: 32px;
  width: 250px;
}
footer.footer .github-fork-ribbon-wrapper .github-fork-ribbon:hover {
  background-color: #f5f5f5;
}
footer.footer .github-fork-ribbon-wrapper .github-fork-ribbon:hover a {
  background-color: #f5f5f5;
  border-color: #4caf50;
  color: #4caf50;
}
.card.is-fullheight {
  height: 100%;
}
.card-content a h3 {
  color: #4caf50;
}
.card-content a p {
  color: #4a4a4a;
}
.card-content a:hover h3,
.card-content a:hover p {
  color: #363636;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
#mc_embed_signup input.mce_inline_error {
  border-color: #ff3860 !important;
}
#mc_embed_signup div.mce_inline_error {
  background-color: inherit !important;
  color: #ff3860 !important;
  font-size: 0.75rem;
  font-weight: inherit !important;
  margin-top: 0.25rem !important;
  padding: 0 !important;
}
abbr[title],
acronym[title] {
  text-decoration: none;
}
