<h4 class="title is-4 is-spaced">Related Posts</h4>
<div class="columns">
    <div class="column is-flex">
        {% if article.related_posts %}
        {% for related_post in article.related_posts %}
        <div class="card">
            <div class="card-content">
                <p class="title is-5">
                    <a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a>
                </p>
                <p class="subtitle">
                    {{ related_post.summary }}
                </p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>