{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
  {% if articles and not articles_page.has_previous() %}
    {% with article = articles[0] %}
      <aside id="featured" class="body">
        <article>
          <h1 class="title">
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
          </h1>
          {% include 'article_infos.html' %}
          <div class="section">
            {{ article.content }}
            {% include 'comments.html' %}
          </div>
        </article>
      </aside>
    {% endwith %}
    {% with article_list = articles_page.object_list[1:] %}
      {% include 'article_list.html' %}
    {% endwith %}
  {% else %}
    {% with article_list = articles_page.object_list %}
      {% include 'article_list.html' %}
    {% endwith %}
  {% endif %}
{% endblock %}
