<div class="level">
  <div class="level-item has-text-centered">
    {% if articles_page.has_previous() %}
      <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">Previous page</a>
    {% endif %}
  </div>
  <div class="level-item has-text-centered">
    Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
  </div>
  <div class="level-item has-text-centered">
    {% if articles_page.has_next() %}
      <a href="{{ SITEURL }}/{{ articles_next_page.url }}">Next page</a>
    {% endif %}
  </div>
</div>
